.app.dark {
  --bg-primary: #111a2c;
  --bg-secondary: #112545;


  --btn-bg: #301c4d;
  --btn-bg-hover: #3e2069;
  --btn-text: #eee;


  --text-primary: #fff;
  --text-secondary: #777;

  --link-primary: #2b4acb;
}