.app.light {
  --bg-primary: #fff;
  --bg-secondary: #eee;
  --color-primary: #eee;



  --btn-bg: #263ea0;
  --btn-bg-hover: #2b4acb;
  --btn-text: #fff;



  --text-primary: #131629;
  --text-secondary: #777;

  --link-primary: #2b4acb;
  
}